---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/LA.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import tropomi_val from "@images/bias_corrected.png"
import minds_showcase from "@images/minds_no2.png"
import dnn from "@images/ozone_dnn.png"
import error_char from "@images/error_char.jpg"
import dashboard from "@images/dashboard-image.avif";


---

<MainLayout>
  <HeroSection
    title=`Equip Your Research with <span
        class="text-purple-900 dark:text-sky-200">Global Maps of PO<sub>3</sub></span>`
    subTitle="AI-powered, error-characterized, and bias-corrected estmates of PO<sub>3</sub> along with sensitivity maps"
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    withReview={false}
    rating=``
    starCount={5}
    reviews=`Funded by NASA ACMAP-Aura Program`
    src={heroImage}
    alt="LA results"
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Explore the capabilities of <span class="text-purple-900 dark:text-yellow-400">ozonerates</span>'s offerings to perfectly suit your research needs.`
    tabs={[
      {
        heading: "Cutting-Edge Algorithm (AI-powered)",
        content:
          "We use a fine-tuned deep neural network trained by millions of aircraft data points to parameterize PO₃ capable of capturing 98% of variance and < 0.1 ppbv/hr bias",
        svg: "tools",
        src: dnn,
        alt: "Machine-learning based predictions",
        first: true,
      },
      {
        heading: "Bias-corrected Satellite Data",
        content:
          "Satellite data are usually contaimanted by large systematic biases. Our product takes advantage of a global network of ground remote sensing observations (MAX-DOAS and FTIR) to effectively mitigate those biases.",
        svg: "dashboard",
        src: tropomi_val,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
      },
      {
        heading: "A NASA-designed High-resolution Global Model",
        content:
          "A dynamically varying cutting-edged model from NASA GSFC is used to convert satellite columns to the near-surface mixing ratios.",
        svg: "dashboard",
        src: minds_showcase,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Careful Quantifications of Errors",
        content:
           "To ensure confidence in our results, we've integrated multiple error sources, allowing users to trust and rely on our product with greater certainty.",
        svg: "dashboard",
        src: error_char,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Why should we care about high ozone production rates?"
    subTitle=""
    ;
    testimonials={[
      {
        content:
          "Tropospheric ozone is not only a major pollutant affecting public health, but it also has significant impacts on crop yields and contributes to climate change.",
        author: "Dr. Drew Shindell",
        role: "Distinguished Professor of Earth Science",
        avatarSrc: "/professor.jpg",
      },
    ]}
    statistics={[
      {
        count: "6.3 million",
        description:
          "years of life annually lost due to premature mortality exposed to elevated surface ozone (Anenberg et al. 2010)",
      },
      {
        count: "85 Tg",
        description:
          "wheat grain loss due to ozone (Mills et al. 2018)",
      },
      {
        count: "$14-26 B",
        description:
          "economical loss due to reduced crop yield annually (Mills et al., 2018)",
      },
      {
        count: "+0.40 W/m²",
        description: "added radiative forcing accelerating global warming (IPCC, 2023)",
      },
    ]}
  />

  <section id="faq">
  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  </section>

</MainLayout>
